.dark-mode{
    background-color: black;
    color: white;
}
.light-mode{
    background-color: white;
    color: black;
}
.relative-my{
    position: relative;
    
}
.absolute-my{
    position: absolute;
    top: 84px;
    right: 5px;
    
}
@media only screen and (max-width: 600px) {
    .absolute-my{
        position: absolute;
        top: 30px;
        right: 5px;
        z-index: 2;
        
    }
  }